* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
.slides {
    height: 650px;
    overflow:hidden;
    position:relative;
    width: 100%;
}
.slides ul {
    list-style:none;
    position:relative;
}
 
/* keyframes #anim_slides */
@keyframes anim_slides {
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}
@-moz-keyframes anim_slides {
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}
 
.slides ul li {
    opacity:0;
    position:absolute;
    top:0;
 
    /* css animation */
    animation-name: anim_slides;
    animation-duration: 24.0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 0;
    animation-play-state: running;
    animation-fill-mode: forwards;
 
    -moz-animation-name: anim_slides;
    -moz-animation-duration: 24.0s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}
 
/* css delays */
.slides ul  li:nth-child(2), .slides ul  li:nth-child(2) div {
    animation-delay: 6.0s;
    -moz-animation-delay: 6.0s;
}
.slides ul  li:nth-child(3), .slides ul  li:nth-child(3) div {
    animation-delay: 12.0s;
    -moz-animation-delay: 12.0s;
}
 
.slides ul li img {
    display:block;
}